div.modal-change-password
    div.modal-header
        h2 CHANGE PASSWORD
        span.close(@click='close') ✕
    div.modal-body(v-if='!success')
        p.modal-error(v-show='error') {{error}}
        div.form.form-horizontal
            div.form-group
                label.control-label.col-xs-4 Old password
                div.col-xs-8
                    input.form-control(v-model='pwd.oldPassword')
            div.form-group
                label.control-label.col-xs-4 New password
                div.col-xs-8
                    input.form-control(v-model='pwd.newPassword')
            div.form-group
                label.control-label.col-xs-4 Confirm
                div.col-xs-8
                    input.form-control(v-model='pwd.confirm')
            div.form-group
                div.col-xs-8.col-xs-offset-4
                    button.btn.btn-primary(@click='submit', :disabled='loading') Change Password
    div.success-panel(v-else)
        icon-success
