div.panel.panel-trade-history
    h2 TRADE HISTORY
        span.pannel-tabbar
            a(@click='switchOrderBook') Order Book
            a.active Trade History
    div.col-name.flex
        span Trade Size
        span.text-right Price ({{object.product.quoteCurrency}})
        span Time
    div.history-list(ref='list')
        li.flex(v-for='item in history', :class="{'am-0-0': item.css}")
            span
                format-number(:num='item.size', :fixed='object.product.baseScale')
            span(:class="{buy: item.side == 'sell', sell: item.side=='buy'}")
                format-price(:price='item.price', type=1, :fixed='object.product.quoteScale')
            span {{item.localTime}}

        

