div.modal-withdrawal
    div.modal-header
        h2 WITHDRAWAL FUNDS
        span.close(@click='close') ✕
    div.tabbar
        span(v-for='(item, index) in tabbarItems', @click='tabbarChange(index)', :class='{active: item.active}') 
            | {{item.currency}} Address
    div.modal-body(v-if='!withdrawaled')
        form-withdrawal(:currency='currency', @success='withdrawalSuccess')
        div.clear-fixed
    div.success-panel(v-if='withdrawaled')
        icon-success

  