div.page.page-account.page-account-deposit
    header-navbar(active=0)
    div.container
        h1 Depoist
        form-deposit(:currency='currency')
        h1 Depoist
        table.table
            thead
                tr
                    th Coin 
                    th.text-right Total balance
                    th.text-right Available balance
                    th.text-right In order
                    th.text-right BTC Value
                    th &nbsp;
            tbody
                tr(v-for='b in balances')
                    td.text-left {{b.currency}}
                    td.text-right {{b.total}}
                    td.text-right {{b.available}}
                    td.text-right {{b.hold}}
                    td.text-right {{b.hold}}
                    td.text-right
                        button.btn.btn-primary.btn-sm.m-r-5(@click='deposit(b)') Deposit
                        button.btn.btn-primary.btn-sm(@click='withdrawal(b)') Withdrawal